
<nav>
  <div class="nav-left">
    <img src="../../assets/logo.png" class="logo">
    <ul>
      <li><img src="../../assets/notification.png"></li>
      <li><img src="../../assets/inbox.png"></li>
      <li><img src="../../assets/video.png"></li>
    </ul>
  </div>
  <div class="nav-right">

    <div class="search-box">
      <img src="../../assets/search.png">
      <input type="text" placeholder="Procurar">
    </div>
    <div class="nav-user-icon online" onclick="settingsMenuToggle()">
      <img src="../../assets/profile-pic.png">
    </div>
  </div>
  <!--------- Settings-Menu --------->
  <div class="settings-menu">

    <div id="dark-btn">
      <span></span>
    </div>

    <div class="settings-menu-inner">
      <div class="user-profile">
        <img src="../../assets/profile-pic.png">
        <div>
          <p>John Nicholson</p>
          <a href="#">Veja o seu perfil</a>
        </div>
      </div>
      <hr>
      <div class="user-profile">
        <img src="../../assets/feedback.png">
        <div>
          <p>Dê o Feedback</p>
          <a href="#">ajude-nos a melhorar o novo design</a>
        </div>
      </div>
      <hr>
      <div class="settings-links">
        <img src="../../assets/setting.png" class="settings-icon">
        <a href="#">Configurações e Privacidade <img src="../../assets/arrow.png" width="10px"></a>
      </div>
      <div class="settings-links">
        <img src="../../assets/help.png" class="settings-icon">
        <a href="#">Ajuda e Suporte <img src="../../assets/arrow.png" width="10px"></a>
      </div>
      <div class="settings-links">
        <img src="../../assets/display.png" class="settings-icon">
        <a href="#">Exibição e acessibilidade <img src="../../assets/arrow.png" width="10px"></a>
      </div>
      <div class="settings-links">
        <img src="../../assets/logout.png" class="settings-icon">
        <a href="#">Sair <img src="../../assets/arrow.png" width="10px"></a>
      </div>
    </div>
  </div>
</nav>
