/* Yonu can add global styles to this file, and also import other style files */
button{
  margin: 5px;
}

.row {
  border: 1px solid grey;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 10px;
}
